<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77a679">  <td>19/02/18 16:06:53</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/18 16:06:54</td>   <td>426</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.initializeCredentials()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&gt;&gt;initializeCredentials</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:06:54</td>   <td>435</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:06:54</td>   <td>904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/18 16:07:24</td>   <td>30935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">createLead</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:07:35</td>   <td>41268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:07:35</td>   <td>42102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/18 16:07:44</td>   <td>51049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">createLead</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:07:53</td>   <td>59459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:07:54</td>   <td>60491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/18 16:08:04</td>   <td>70281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">createLead</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:08:11</td>   <td>78102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:08:12</td>   <td>78854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/02/18 16:08:21</td>   <td>87289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">createLead</td> 
  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:08:27</td>   <td>94185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>19/02/18 16:08:28</td>   <td>94962</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.leaftaps.CreateLead@5025a98f]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2006034581</td>   <td></td> </tr>
</table>
